/********* Fonts **********/

@import url('https://fonts.googleapis.com/css?family=Monofett');
@import url('https://fonts.googleapis.com/css?family=Righteous');


/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0 0 60px 0;
	background-color: rgb(237,223,222)
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
	text-align: center;
}

p {
	margin: 8px 0 0 0;
}

.container p {
	text-align: center;
	padding: 0;
}

/****** Header Styling ******/

header p {
	margin: 16px 0 5px 0;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #FFA000;
}

.menu:active {
	color: #FF630D;
}

header a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#display-name {
	font-weight: 400;
}

/****** Login Styling ******/

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

#login-btn, #logout-btn {
	padding: 7px 5px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 5px
}

/****** Logo Div Styling ******/

img {
	margin: 0;
	display: block;
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	color: white;
	background-color: yellowgreen;
	display: inline-block;
	border: 0;
	font-size: 14px;
	border-radius: 30px;
	padding: 10px 5px;
	width: 120px;
	font-weight: 500;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}

/****** Profile Styling ******/

.github-profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}

.navbar-inverse {
	background-color:white;
	border-color:white;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:70px;
	padding-right:70px;
	text-align: center;
}

.navbar-right {
	margin-right: 0;
	font-family: 'Righteous', cursive;
}

.out-tonight-text {
	font-family: 'Monofett', cursive;
	font-size:3em;
	color:yellowgreen;
	opacity:0.8;
}

.twitter-logo {
	width:35px;
}

.twitter-login {
	margin-top:10px;
}

.container {
	padding:20px 50px;
}
.container .search-bar {
	width:80%;
	height:40px;
	padding:10px;
	border:2px solid yellowgreen;
}
.container .search-btn {
	border-radius: 0;
	width:19.3%;
	font-family: 'Righteous', cursive;
	color:white;
	vertical-align:top;
}

#login-btn span, #logout-btn span {
	line-height: 32px;
}

#logout-btn {
	display:none;
	background-color:rgb(255,223,186);
}


/*format place holder*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    yellowgreen;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    yellowgreen;
   opacity:  0.8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    yellowgreen;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    yellowgreen;
}

input {
	font-family: 'Righteous', cursive;
}

.list-container {
	border:2px solid yellowgreen;
	padding:10px;
	margin:10px 0;
	overflow:auto;
	font-family: 'Righteous', cursive;
}
.search-result {
	margin-top:20px;
}
.bar-img, .bar-info {
	float:left;
	margin-right: 10px;
}
.bar-address {
	font-size:0.8em;
}
.add, .delete {
	border:none;
	color:white;
	margin-right:10px;
	margin-bottom:10px;
	padding:5px 10px;
	border-radius:2px;
}
.add {
	background-color:yellowgreen;
	width:80%;
}
.delete {
	background-color:rgb(255,223,186);
	width:80%;
}
.people {
	float:right;
	text-align:center;
}

.btn:focus, input:focus, button:focus {
  outline: none;
}

.footer {
	background-color: rgba(170,152,169,0.9);
    height: 80px;
    border-top: solid 10px rgb(179,158,181);
    font-family: 'Righteous', cursive;
    color:white;
}
.footer .container {
	padding:0;
}
#yelp-logo {
	display:inline;
}
#author-name a{
	color:rgb(204,236,117);
}
#author-github a {
	color:rgb(223,247,158);
}
#author-codepen a {
	color:rgb(244,255,214);
}
a:hover, a:focus {
	text-decoration: none;
}

/*media query*/

@media (max-with:768px) {
	.container {
		width:auto;
	}
}

@media (max-width:730px) {
	.container .search-bar {
		width:100%;
		margin-bottom: 10px;
	}
	.container .search-btn {
		width:100%;
	}
}

@media (max-width:600px) {
	.bar-img, .bar-info {
		float:none;
		margin-right:0;
		margin-bottom:10px;
		width:100%;
		text-align: center;
	}
	.people {
		float:none;
	}
	#rating-img {
		display:inline;
	}
}

@media (max-width:425px) {
	.navbar-inverse {
		padding-left:5px;
		padding-right:5px;
	}
}

@media (max-width:320px) {
	.container {
		padding-left:10px;
		padding-right:10px;
	}
}